@charset "UTF-8";
/*  project模板样式 - 监控  */
.monitor-select2-dropdown-inverse {
  min-width: 130px;
  white-space: nowrap; }

.app-view-project-monitor .nav-tabs {
  padding-bottom: 15px;
  border-bottom: 0;
  background-color: transparent; }
  .app-view-project-monitor .nav-tabs .btn-group a,
  .app-view-project-monitor .nav-tabs .btn-group a:link,
  .app-view-project-monitor .nav-tabs .btn-group a:active,
  .app-view-project-monitor .nav-tabs .btn-group a:hover,
  .app-view-project-monitor .nav-tabs .btn-group a:focus {
    outline: none; }
  .app-view-project-monitor .nav-tabs .pull-right {
    line-height: 34px; }
  .app-view-project-monitor .nav-tabs .select2-choice {
    line-height: 1; }
  .app-view-project-monitor .nav-tabs .btn-group, .app-view-project-monitor .nav-tabs .form-group, .app-view-project-monitor .nav-tabs .input-group {
    margin-left: 15px; }
  .app-view-project-monitor .nav-tabs .multiselect, .app-view-project-monitor .nav-tabs .select {
    min-width: 100px; }
  .app-view-project-monitor .nav-tabs .bootstrap-switch-square {
    display: inline-block; }
  .app-view-project-monitor .nav-tabs .date .form-control {
    max-width: 130px; }

.app-view-project-monitor .tab-content {
  padding: 0; }

.app-view-project-monitor .ui-grid {
  height: 100%; }

.app-view-project-monitor #curveModal .modal-dialog {
  width: auto;
  margin: 15px; }
  .app-view-project-monitor #curveModal .modal-dialog .form-group,
  .app-view-project-monitor #curveModal .modal-dialog .input-group,
  .app-view-project-monitor #curveModal .modal-dialog .btn-group {
    width: auto;
    margin-right: 15px; }
    .app-view-project-monitor #curveModal .modal-dialog .form-group > .form-control,
    .app-view-project-monitor #curveModal .modal-dialog .input-group > .form-control,
    .app-view-project-monitor #curveModal .modal-dialog .btn-group > .form-control {
      max-width: 142px; }
  .app-view-project-monitor #curveModal .modal-dialog .modal-body {
    min-height: 320px; }
