@charset "UTF-8";
/*dashboard模板样式*/
.app-view-dashboard {
  min-width: 800px;
  /* datetimepicker - start */
  /* datetimepicker - end */
  /* highcharts - start */
  /* highcharts - end */
  /* flat-ui - btn-primary */
  /* flat-ui - btn-primary */
  /* flat-ui - btn-info */
  /* flat-ui - btn-info */
  /* flat-ui - bootstrap-switch */
  /* flat-ui - bootstrap-switch */
  /* ui-grid - start */
  /* ui-grid - end */ }
  .app-view-dashboard a.btn:focus,
  .app-view-dashboard a.btn:link {
    outline: none; }
  .app-view-dashboard .navbar.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    border-color: #37bc9b;
    background-color: #37bc9b; }
    .app-view-dashboard .navbar.navbar-default,
    .app-view-dashboard .navbar.navbar-default > div {
      height: 50px;
      min-height: 50px;
      line-height: 50px;
      font-size: 20px;
      color: #FFF; }
    .app-view-dashboard .navbar.navbar-default .pull-left {
      padding-left: 15px;
      font-size: 24px;
      font-weight: 500; }
    .app-view-dashboard .navbar.navbar-default .pull-right .btn-group {
      float: left;
      height: 100%; }
      .app-view-dashboard .navbar.navbar-default .pull-right .btn-group > .btn,
      .app-view-dashboard .navbar.navbar-default .pull-right .btn-group > span {
        float: left;
        height: 100%;
        line-height: 30px;
        padding: 10px 15px;
        vertical-align: top;
        border-radius: 0;
        font-size: 18px; }
    .app-view-dashboard .navbar.navbar-default .pull-right .dropdown-menu {
      max-height: 300px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      overflow: auto; }
      .app-view-dashboard .navbar.navbar-default .pull-right .dropdown-menu a:hover {
        background-color: #37bc9b;
        color: #FFF; }
    .app-view-dashboard .navbar.navbar-default .emweb {
      font-size: 20px; }
  .app-view-dashboard .view-sidebar {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 90px;
    background-color: #2b3a4d; }
    .app-view-dashboard .view-sidebar .nav li {
      padding: 15px 0 0 15px; }
    .app-view-dashboard .view-sidebar i {
      line-height: 30px;
      font-size: 30px; }
    .app-view-dashboard .view-sidebar a {
      display: block;
      position: relative;
      width: 100%;
      height: 70px;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      color: #F5F5F5;
      text-align: center; }
    .app-view-dashboard .view-sidebar a::before {
      position: absolute;
      left: 0;
      top: 40px;
      width: 100%;
      content: attr(title); }
    .app-view-dashboard .view-sidebar a:focus,
    .app-view-dashboard .view-sidebar a:link {
      outline: none; }
    .app-view-dashboard .view-sidebar a:hover,
    .app-view-dashboard .view-sidebar .active a {
      background-color: #F5F5F5;
      color: #2b3a4d; }
  .app-view-dashboard .view-content {
    position: absolute;
    left: 90px;
    top: 50px;
    right: 0;
    bottom: 0;
    min-height: 500px;
    padding: 15px;
    overflow: auto; }
    .app-view-dashboard .view-content > div[class*=app-view-project] {
      min-height: 100%; }
  .app-view-dashboard .subTitle {
    border-left: 4px solid #16bbc1;
    padding-left: 8px;
    font-size: 16px; }
  .app-view-dashboard .subContent {
    background-color: #FFF; }
  .app-view-dashboard .row > .panel-heading + .panel-body {
    padding-top: 0; }
  .app-view-dashboard .btn-group-vertical > .btn,
  .app-view-dashboard .btn-group > .btn {
    position: static; }
  .app-view-dashboard .bootstrap-datetimepicker-widget {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35); }
    .app-view-dashboard .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
    .app-view-dashboard .bootstrap-datetimepicker-widget table td.day:hover,
    .app-view-dashboard .bootstrap-datetimepicker-widget table td.hour:hover,
    .app-view-dashboard .bootstrap-datetimepicker-widget table td.minute:hover,
    .app-view-dashboard .bootstrap-datetimepicker-widget table td.second:hover {
      background-color: rgba(0, 0, 0, 0.06); }
    .app-view-dashboard .bootstrap-datetimepicker-widget table td.active:hover {
      background-color: #337ab7; }
  .app-view-dashboard .bootstrap-datetimepicker-widget.dropdown-menu {
    border-radius: 4px; }
  .app-view-dashboard .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before,
  .app-view-dashboard .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-bottom-color: #edeff1; }
  .app-view-dashboard .bootstrap-datetimepicker-widget.dropdown-menu.top:before,
  .app-view-dashboard .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
    border-top-color: #edeff1; }
  .app-view-dashboard .form-group .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
    right: 10px; }
  .app-view-dashboard .form-group .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
    right: 11px; }
  .app-view-dashboard .date.has-feedback > .form-control-feedback {
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    font-size: 18px; }
  .app-view-dashboard .date.focus > .form-control-feedback {
    color: #1abc9c; }
  .app-view-dashboard .highcharts-component {
    margin-top: 15px;
    margin-bottom: 15px; }
  .app-view-dashboard .highcharts-panel {
    position: relative;
    display: block;
    overflow: hidden; }
    .app-view-dashboard .highcharts-panel .pieTitle {
      font-size: 12px;
      color: #bcbcbc; }
    .app-view-dashboard .highcharts-panel .pieNumber {
      font-size: 30px;
      color: #16bbbf; }
    .app-view-dashboard .highcharts-panel .pieUnit {
      font-size: 12px;
      color: #9ee3e9; }
  .app-view-dashboard .highcharts-pie {
    min-height: 270px; }
  .app-view-dashboard .highcharts-line {
    min-height: 320px;
    padding-right: 10px; }
  .app-view-dashboard .btn-primary.active.focus,
  .app-view-dashboard .btn-primary.active:focus,
  .app-view-dashboard .btn-primary.active:hover,
  .app-view-dashboard .btn-primary.focus:active,
  .app-view-dashboard .btn-primary:active:focus,
  .app-view-dashboard .btn-primary:active:hover,
  .app-view-dashboard .open > .dropdown-toggle.btn-primary.focus,
  .app-view-dashboard .open > .dropdown-toggle.btn-primary:focus,
  .app-view-dashboard .open > .dropdown-toggle.btn-primary:hover {
    border-color: #16a085;
    background-color: #16a085; }
  .app-view-dashboard .btn-info.active.focus,
  .app-view-dashboard .btn-info.active:focus,
  .app-view-dashboard .btn-info.active:hover,
  .app-view-dashboard .btn-info.focus:active,
  .app-view-dashboard .btn-info:active:focus,
  .app-view-dashboard .btn-info:active:hover {
    border-color: #2c81ba;
    background-color: #2c81ba; }
  .app-view-dashboard .bootstrap-switch-info ~ .bootstrap-switch-handle-off:before,
  .app-view-dashboard .bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-info.bootstrap-switch-handle-off:before {
    background-color: #2980b9; }
  .app-view-dashboard .bootstrap-switch-success ~ .bootstrap-switch-handle-off:before,
  .app-view-dashboard .bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-success.bootstrap-switch-handle-off:before {
    background-color: #27ae60; }
  .app-view-dashboard .bootstrap-switch-warning ~ .bootstrap-switch-handle-off:before,
  .app-view-dashboard .bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-warning.bootstrap-switch-handle-off:before {
    background-color: #f39c12; }
  .app-view-dashboard .bootstrap-switch-danger ~ .bootstrap-switch-handle-off:before,
  .app-view-dashboard .bootstrap-switch-off .bootstrap-switch-handle-on ~ .bootstrap-switch-danger.bootstrap-switch-handle-off:before {
    background-color: #c0392b; }
  .app-view-dashboard .ui-grid-column-menu-button-last-col {
    margin-right: 0; }
